@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  color-scheme: dark;
}

.scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.scrollbar::-webkit-scrollbar-track {
  @apply bg-dark-700 rounded-full;
}

.scrollbar::-webkit-scrollbar-thumb {
  @apply rounded-full bg-dark-50;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  @apply bg-material-700;
}

.scrollbar::-webkit-scrollbar-thumb:active {
  @apply bg-material-600;
}

.leaflet-popup-content-wrapper {
  @apply bg-dark-900 text-white border-[1px] border-strava !important;
}

.leaflet-popup-tip {
  @apply bg-dark-900 border-[1px] border-strava !important;
}

.leaflet-popup-content p {
  margin: 0;
}

.leaflet-container {
  background: #333333 !important; 
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite
}
.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #FFF;
  animation: prixClipFix 2s linear infinite ;
}

@keyframes rotate {
  100%   {transform: rotate(360deg)}
}

@keyframes prixClipFix {
    0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
    25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
    50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
    75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
    100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
}